# ==========================
# Spring Boot
# ==========================
**/target/
**/.idea/
**/*.iml

# ==========================
# React
# ==========================
**/node_modules/
**/dist/

# ==========================
# Cursor / VS Code
# ==========================
.vscode/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db